/* === Banner === */
.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 230px 0px;
}

.banner h1 {
  color: white;
  font-weight: bolder;
}

.banner p {
  color: lightgrey;
  font-weight: lighter;
  margin-bottom: 30px;
}

.btn {
  text-align: center;
  color:white;
  background-color: #1EDD88;
  border-radius: 50px;
  padding: 15px 30px;
}
