/* === Cards === */

.cards {
  display:flex;
  justify-content: space-between;
}

.pic-svg {
  height: 120px;
}

.card {
  border: 1px solid rgb(230,230,230);
  box-shadow: 0 0 5px rgb(230,230,230);
  border-radius: 3px;
  text-align: center;
  width: 200px;
  height: 270px;
  padding: 10px;
}

.card p {
  color: grey;
}
